Options -MultiViews
DirectoryIndex index.php
RewriteEngine On
RewriteBase /shopkart-api/

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# /shopkart-api/... → /shopkart-api/index.php
RewriteRule ^ index.php [L]

FallbackResource /shopkart-api/index.php
